body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #33495F;
  text-align: center;
  color: #fff;
  background-image: url('https://images.pexels.com/photos/3560044/pexels-photo-3560044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

*:focus {
  outline: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0),  rgba(0, 0, 0, 0.2));
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 120px 15px 15px;
  font-size: 50px;
  text-shadow: 5px 4px #141414;
  border-radius: 15px;
  height: 150px;
  width: 700px;
}

input[type="submit"] {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: blue;
  cursor: pointer;
}

/* -------- Modal ----------------- */
#modal {
  height: 100vh;
  width: 100%;
  background-color: rgb(99, 145, 153);
  z-index: 99;
  position: absolute;
  text-align: center;
  align-items: center;
  padding-top: 25%;
  /* visibility: hidden; */
}

select {
  background-color: rgb(211, 218, 216);
  width: 110px;
  height: 50px;
  text-align: center;
  border: none;
  padding-left: 18px;
  margin-right: 30px;
}

#image-container {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

#image-container, img {
  width: 150px;
  height: 180px;
  margin: 25px;
}
/* -------- Search Container ------ */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 300px;
  height: 40px;
  border: none;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
  align-items: center;
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #9b3b2f;
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
  /* background-color:rgba(255, 255, 255, 0.8) */
}

#input-btn {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: red;
  cursor: pointer;
}

/* -------- Weather Container ------ */
.weather {
  display: flex;
  justify-content: space-around;
  background-color:rgba(24, 23, 23, 0.7) ;
  height: 550px;
  width: 650px;
  border-radius: 15px;
}
#date {
  font-size: 15px;
  padding-top: 25px;
  margin: 0px;
}

#temp {
  font-size: 102px;
  padding-top: 25px;
  margin: 0px;
}

#summary {
  font-size: 30px;
  margin: 0;
}

#weather-img {
  width: 250px;
  margin-top: 25px;
}

.weather-container {
  font: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#location {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: -15px;
}

.date {
  color: white;
  width: 500px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  font: Arial;
}

.weather-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 180px;
}

#weather-img {
  margin-right: 30px
}

.info-container {
  color: white;
}

#high-low {
  font-size: 102px;
}

#weather-sum {
  font-size: 30px;
  background-color: purple;
}

